[user]
      name = anastasialanz
      email = anastasia.lanz@deque.com
      signingkey = 273E29E5
[commit]
      gpgsign = true
      template = ~/.gitmessage
[alias]
      co = checkout
      br = branch
      ci = commit
      st = status
      pushf = push --force-with-lease
[core]
      excludesfile = ~/.gitignore_global
[credential]
      helper = store
[pull]
      rebase = true
[push]
      autoSetupRemote = true
